.ascii-game-engine {
  --color-bg: #1d1230;
  --color-text: #ffb6d9;
}

.ascii-game-engine .layer .tile-odd {
  background-color: #2a1a42;
}

.ascii-game-engine .actor.player-one {
  color: #00d9ff;
}

.ascii-game-engine .actor.player-two {
  color: #c8ff47;
}
