.ascii-engine-host {
  position: fixed !important;
  inset: 0px !important;
}

@property --color-bg {
  syntax: '<color>';
  inherits: true;
  initial-value: #222;
}

@property --color-text {
  syntax: '<color>';
  inherits: true;
  initial-value: #bbb;
}

@property --selected-bg {
  syntax: '<color>';
  inherits: true;
  initial-value: #bbb;
}

@property --selected-text {
  syntax: '<color>';
  inherits: true;
  initial-value: #222;
}

@property --actor-bg {
  syntax: '<color>';
  inherits: true;
  initial-value: #222;
}

@property --actor-text {
  syntax: '<color>';
  inherits: true;
  initial-value: #bbb;
}

.ascii-engine {
  --ui-bg: var(--color-bg);
  --ui-text: var(--color-text);

  --selected-bg: var(--ui-text);
  --selected-text: var(--ui-bg);

  --actor-bg: var(--color-bg);
  --actor-text: var(--color-text);

  /* TODO refresh visual on theme change to handle glyph resize */
  --font-size: 18px;
  --line-height: var(--font-size);

  position: absolute;
  box-sizing: border-box;

  width: 100%;
  height: 100%;

  overflow: hidden;

  background-color: var(--color-bg);
  color: var(--color-text);

  font-family: monospace;
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: 0 !important;
  text-align: left;

  transition:
    --color-bg 250ms ease,
    --color-text 250ms ease,
    --selected-bg 250ms ease,
    --selected-text 250ms ease,
    --actor-bg 250ms ease,
    --actor-text 250ms ease;
}

.ascii-engine {
  position: relative;
}

.ascii-engine .layer {
  position: absolute;
  inset: 0;
  /*
  TODO make ui works with scale and use for zoom
  */
  transform: scale(1);
}

/* ----- Background Layer ----- */

.ascii-engine .chunk {
  position: absolute;
  white-space: pre;
}

/* ----- Entity Layer ----- */

.ascii-engine .actor {
  position: absolute;
  background-color: var(--actor-bg);
  color: var(--actor-text);
  height: var(--line-height);
}

/* ----- UI Layer ----- */

.ascii-engine .layer-ui {
  user-select: none;
  -webkit-user-select: none;
}

.ascii-engine .ui {
  background-color: var(--ui-bg);
  color: var(--ui-text);
}

.ascii-engine .ui .selectable:hover,
.ascii-engine .ui .selectable.selected {
  background-color: var(--selected-bg);
  color: var(--selected-text);
}

.ascii-engine .ui .selectable {
  transition:
    background-color 0.12s,
    color 0.12s;
}

.ascii-engine .ui-node.ui-line {
  font-weight: 100;
}

/* ----- UI Panel ----- */

.ascii-engine .ui-panel {
  padding: 4px;
  inset: -4px;
  z-index: -1;
}

.ascii-engine .ui-panel-container {
  z-index: 1;
}

/* ----- UI Roller menu ----- */

.ascii-engine .ui-roller {
  background-color: var(--ui-bg);
  color: var(--ui-text);
  transition: opacity 0.1s;
}

.ascii-engine .ui-roller.fade-low {
  opacity: 0.45;
}

.ascii-engine .ui-roller.fade-high {
  opacity: 0.2;
}
