.ascii-game-engine {
  --color-bg: #1e1814;
  --color-text: #b79b7a;
}

.ascii-game-engine .layer .tile-odd {
  background-color: #2a221c;
}

.ascii-game-engine .actor.player-one {
  color: #8ea4c8;
}

.ascii-game-engine .actor.player-two {
  color: #b96d52;
}
