.ascii-game-engine {
  --color-bg: #0c0615;
  --color-text: #b69ae0;
}

.ascii-game-engine .layer .tile-odd {
  background-color: #170d24;
}

.ascii-game-engine .actor.player-one {
  color: #ff4fa3;
}

.ascii-game-engine .actor.player-two {
  color: #53d8ff;
}
