.ascii-game-engine {
  --color-bg: #0f1113;
  --color-text: #b8c0c8;
}

.ascii-game-engine .layer .tile-odd {
  background-color: #181c20;
}

.ascii-game-engine .actor.player-one {
  color: #ff5d73;
}

.ascii-game-engine .actor.player-two {
  color: #57c7ff;
}
