.ascii-game-engine {
  --color-bg: #510109;
  --color-text: #f4b8c2;
}

.ascii-game-engine .layer .tile-odd {
  background-color: #330307;
}

.ascii-game-engine .actor.player-one {
  color: #89a7d8;
}

.ascii-game-engine .actor.player-two {
  color: #d98b6a;
}
