/* TODO Add a way to ask the engine to add arbitrary element ajusted to the viewport or locked to an entity */
.ascii-game-engine .layer-ui::before {
  content: '';
  position: absolute;
  inset: 0;
  pointer-events: none;

  background: radial-gradient(
    circle at center,
    transparent 0%,
    transparent 25%,
    #8d540925 45%,
    #7a330a8c 70%,
    #6e0c09eb 100%
  );

  mix-blend-mode: multiply;
}

.ascii-game-engine {
  --color-bg: #251811;
  --color-text: #d48a62;
  --odd-color: #312019;
  --p-one-color: #7da0c7;
  --p-two-color: #e06d45;
}
