.ascii-game-engine {
  --color-bg: #0b1620;
  --color-text: #8ca7b5;
}

.ascii-game-engine .layer .tile-odd {
  background-color: #132330;
}

.ascii-game-engine .actor.player-one {
  color: #7fb7be;
}

.ascii-game-engine .actor.player-two {
  color: #d89b4a;
}
