.ascii-game-engine {
  --color-bg: #192514;
  --color-text: #b18436;
}

.ascii-game-engine .layer .tile-odd {
  background-color: #24331d;
}

.ascii-game-engine .actor.player-one {
  color: #8c92bf;
}

.ascii-game-engine .actor.player-two {
  color: #b56d43;
}
