.ascii-game-engine {
  --color-bg: #1d1424;
  --color-text: #bda6d8;
}

.ascii-game-engine .layer .tile-odd {
  background-color: #281a33;
}

.ascii-game-engine .actor.player-one {
  color: #8ea4c8;
}

.ascii-game-engine .actor.player-two {
  color: #d08a9e;
}
