/*
 * css files in /themes are loaded automatically as selectable themes
 */

.ascii-engine {
  --color-bg: #0a174e;
  --color-text: #f5d042;

  --actor-bg: #000000;
  --actor-text: #ffffff;

  --ui-bg: #12352a;
  --ui-text: #f04f4f;

  /*
  --selected-bg: var(--ui-text);
  --selected-text: var(--ui-bg);
  */
}

/*
 * Add any .tile-* for per-tile styling (See doc)
 */
.ascii-engine .tile-wall {
  color: #ed6f63;
  background-color: #2d2926;
}

/*
 * And any fancy css you want
 */
.ascii-engine .layer-ui::before {
  content: '';
  position: fixed;
  inset: 0;

  background:
    radial-gradient(circle, #f5d04255 0 1px, transparent 2px) 0 0 / 24px 24px,
    radial-gradient(circle, #f5d04230 0 1px, transparent 2px) 12px 12px / 24px 24px;

  animation: glitter 1.5s linear infinite;
}

@keyframes glitter {
  50% {
    opacity: 0.25;
  }
  100% {
    top: -24px;
  }
}
