/*
css files in root/themes are loaded automatically as themes
Note: These changes affect the whole page. All css here should start with '.ascii-engine'
      unless you want the style to affect non-engine elements
This'll extend and overrides the css defined in ./engine/render/css/base.css
*/

.ascii-engine {
  --color-bg: #0a174e;
  --color-text: #f5d042;

  --actor-bg: #000000;
  --actor-text: #ffffff;

  --ui-bg: #12352a;
  --ui-text: #f04f4f;

  /*
  --selected-bg: var(--ui-text);
  --selected-text: var(--ui-bg);
  */
}

/*
any .tile-*
*/
.ascii-engine .tile-wall {
  color: #ed6f63;
  background-color: #2d2926;
}

.ascii-engine .layer-world::before {
  content: '';
  position: fixed;
  inset: 0;

  background:
    radial-gradient(circle, #f5d04255 0 1px, transparent 2px) 0 0 / 24px 24px,
    radial-gradient(circle, #f5d04230 0 1px, transparent 2px) 12px 12px / 24px 24px;

  animation: glitter 1.5s linear infinite;
}

@keyframes glitter {
  50% {
    opacity: 0.25;
  }
  100% {
    top: -24px;
  }
}
